*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body
#root {
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif  ;
} 

.create-post-section{
  display: flex;
  justify-content: center;  
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
}

.create-post-section form{
  display: flex;
  justify-content: center;  
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.create-post-section input,
.create-post-section textarea{
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-post-section button{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

.feed-section{
  display: flex;
  justify-content: start;  
  flex-direction: column;
  gap: 20px;
  align-items: center;  
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;  
  padding: 20px;
} 
.post-card img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.post-card{
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}